<!-- ko with: home -->
<div class="jumbotron">
    <h1>Equities Integration</h1>
    <p class="lead">Customer Entry and ID Number Validation</p>
</div>
<div class="row">

    <div class="col-md-4">
        <h2>Customer Entry</h2>
        <p>Run 'ng serve' on the EquitiesIntegration.Angular directory - and browse to the given localhost url.</p>
    </div>

    <div class="col-md-4">
        <h2>Customers</h2>
        
        <p><a class="btn btn-default" href="~/Customers">View Customers&raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Citizenships</h2>
        <p><a class="btn btn-default" href="~/Citizenships">Citizenships &raquo;</a></p>
    </div>

   
</div>

<!-- /ko -->
